@model Register.Models.JobLogin
@{ 
        var options = new AjaxOptions() {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.ReplaceWith,
            UpdateTargetId = "divupdated"
    };
}
<div class="modal-dialog" role="document" id="divupdated">
    @using (Ajax.BeginForm("Login", "Order", null, options))
    {@Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Login to your account</h4>
            </div>
            @if (LoggedProfile.logged.Id <= 0)
            {
                <div class="modal-body login-from">
                    @Html.ValidationMessageFor(m => m.JobEmail, "", new { @class = "text-danger left100p" })
                    @Html.TextBoxFor(x => x.JobEmail, new { @placeholder = "Email", @autocomplete = "off", @class = "email-icon" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger left100p" })
                    @Html.PasswordFor(x => x.Password, new { @placeholder = "Password", @class = "password-icon" })

                    @if (ViewBag.msg == -1)
                    { <div class="text-danger">Invalid data. Please enter correct email and password.</div>}
                    @if (ViewBag.msg == -2)
                    {<div class="text-danger">Invalid login details. Please try again with correct data.</div>}
                    <button class="check-code" value="SUBMIT">LOGIN</button>
                    <p><a target="_blank" href="https://lookbetteronline.com/profiles/client/ForgotPassword.aspx">Forgot password</a></p>
                </div>
            }
            @if (LoggedProfile.logged.Id > 0)
            {
                <div class="modal-body login-from">
                    Logged in as <b>@LoggedProfile.logged.FirstName @LoggedProfile.logged.LastName</b>
                    <a href="@Url.Action("Logout")" class="check-code">Logout</a><br />&nbsp;
                </div><script>reload();</script>
            }
        </div>
    }
</div>
